.htmlclasss {
  background-color: #000000;
  color: #ffcc00;
}
body {
  background-color: #01000C;
  color: #ffcc00;
  text-align: center;
  color: #ffcc00;
}
.mainphoto {
  display: block;
  margin: auto;
  height: 50%;
  width: 50%;
  border: 1px solid #ffcc00;
}
.imagedetails {
  text-align: center;
}
.splashphoto {
  height: 75%;
  width: 75%;
  border: 1px solid #ffcc00;
}
.removebullets{
  list-style: none;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}
ul.namehomeb {
    float:left;
}
ul.topnav li{
  float: right;
}
ul.topnav li a{
  display: inline-block;
  color: #ffcc00;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}
ul.namehomeb li a{
  display: inline-block;
  color: #ffcc00;
  padding: 14px .5px;
  text-decoration: none;
  font-size: 17px;
}
ul.namehomeb{
  list-style-type: none;
}
ul.topnav li.icon {
  display: none;
}
@media screen and (max-width:680px) {
  ul.topnav li {
    display:none;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: right;
  }
}
